APP_NAME=DEVWPCStreamAPIV5
APP_ENV=local
APP_KEY=base64:OtXN8ROOM5ev1XLaYt+jE2mC4zeACuUHR2tNJymJvWc=
APP_DEBUG=true
APP_URL=https://ara-sss.net/
APP_TIMEZONE=Asia/Manila

ASSET_VERSION=4

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=stream
DB_USERNAME=postgres
DB_PASSWORD=12345

DB_MD_CONNECTION=mongodb
DB_MD_DSN=mongodb+srv://handbadmin:Han123456!@dev-stream-005.rxzox.mongodb.net/dbstreamdev?retryWrites=true&w=majority
DB_MD_HOST=dev-stream-005.rxzox.mongodb.net
DB_MD_PORT=27017
DB_MD_DATABASE=streamV5
DB_MD_USERNAME=handbadmin
DB_MD_PASSWORD=Han123456!

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MIX_PUSHER_APP_ID=1260843
MIX_PUSHER_APP_KEY=fb65e878cc5e4e84d890
MIX_PUSHER_APP_SECRET=ddd3a2d8f1329b8962b7
MIX_PUSHER_APP_CLUSTER=ap1

JWT_SECRET=o2QhYATK8SQXkmxRfq8u8yE5XFWjNsbT9m1Cily4FFfET6AnbBx95V7hyqeQXaK6
JWT_TTL=153300


MIX_API_URL=https://ara-sss.net/api/
MIX_API_URL=http://lumenapiv5.ara/api/
DUMMY_DATA=test

